html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Century Gothic', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    user-select: none;
}

.heading{
    font-weight: bold;
    margin: 0;
    padding: 2vw 5vw;
    font-size: 8vw;
    margin-bottom: 3vw;
}

.chart{
    width: 90vw;
    height: 90vw;
    display: block;
    margin: 0 auto;
}
.input{
    width: 100vw;
    height: 20vw;
}

.day{
    margin: 0;
    padding: 0 5vw;
    text-align: right;
}

.gamehead{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    font-size: 6vw;
    font-weight: bold;
}

.gamehead *{
    display: block;
    padding: 0 5vw;
}

.budget{
    margin: 2vw 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.coin{
    width: 8vw;
    height: 8vw;
    margin-left: 5vw;
}
.budget-text{
    padding: 0 3vw;
    font-size: 6vw;
    font-weight: bold;
}

.sectionhead{
    margin: 0;
    padding: 0;
    padding-left: 5vw;
    margin-top: 7vw;
    font-size: 6vw;
    font-weight: bold;
}
.table{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 5vw;
}
.tablerow{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-size: 6vw;
    font-weight: bold;
}
.tablerow span{
    padding: 0 5vw;
}

.button{
    display: block;
    font-size: 6vw;
    padding: 2vw;
    margin: 4vw 0;
    margin-left: auto;
    margin-right: 5vw;
    background: none;
    border: .5vw solid #000;
    outline: none;
}

.dialog-cont{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.dialog{
    background-color: #fff;
    border: .5vw solid #000;
    width: 90vw;
    height: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5vw;
}
.dialogimg{
    width: 40vw;
    height: 40vw;
}
.dialogscore{
    margin: 0;
    padding: 0;
    color: green;
    font-size: 8vw;
    font-weight: bolder;
}
.dialoghs{
    margin: 0;
    padding: 0;
    color: green;
    font-size: 6vw;
    font-weight: bold;
}
.dialogbutton{
    margin: 0;
    padding: .5vw;
    width: 30vw;
    font-size: 5vw;
    font-weight: bold;
}
.dialogfoot{
    display: flex;
    width: 80vw;
    justify-content: space-between;

}
